**/src/lib/*
**/src/md5.js
**/src/aws-client.js
**/src/core.js
**/src/event.js
**/src/log.js
**/src/ringtone.js
**/src/sprintf.js
**/src/transitions.js
**/src/util.js
**/src/worker.js
**/src/client.js
**/src/api.js
**/src/drCoordinator/*
**/src/agent-app/*
**/src/index.d.ts
**/src/softphone.js
**/src/task.js
**/src/streams.js
**/src/userMediaProvider.js
**/test/*